{% extends "Link/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    <fieldset class = 'form-group'>
        <legend class = 'border-bottom mb-4'>
            Cut the Link!
        </legend>
        {{form|crispy}}
    </fieldset>
    <div class = 'form-group'>
        <button type ='submit' class ='btn btn-outline-info'>
            Reduce
        </button>
        <h2>Your short url: {{ short }}</h2>
    </div>
    </form>
{% endblock %}